@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    margin:0;
}
header{
    margin: 0 auto;
    position: relative;
    height: 180px;
}

#overlay{
    margin: 0px 0px 15px 0px;
    color: white;
    justify-items: center;
    background-color: #261B17;
}
#hamburguerimg{
    height: 50px;
    position: absolute;
    top: 25px;
    
}
#hamburguerimg:hover{
    cursor: pointer;
}
#containerlogo{
    justify-content: center;
}
#logo{
    
    display: block;
    margin: 0 auto;
}
#containercarrinho{
    position: absolute;
    top: 30px;
    right: 5px;
    
}
#carrinho{
    height: 60px;
}
#containermenu{
    margin: 0 auto;
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in;
    

}
.containeropcao{
    margin: 8px;
    list-style-type: none;
    white-space: nowrap;
}
.containeropcao>a{
    background-color: rgb(6, 89, 162);
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: x-large;
    
}
.containeropcao>a:hover{
    background-color: rgb(100, 183, 255);
    transition-duration: 0.3s;
}
.carrossel{
    z-index: 1;
    top: 0px;
    width: 100%;
    height: 400px; 
    position: relative;
    overflow: hidden;
}
.slides{
    display: flex;
}
.slide{
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


}
.slide.ativa{
    opacity: 1;
}
button.anterior,
button.proximo{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.5);
    border: none;
    font-size: 2rem;
    padding: 0 10px;
    cursor: pointer;
    z-index: 10;
}
button.anterior{
    left: 10px;
}
button.proximo{
    right: 10px;
}
#areadebeneficios{
    display: flex;
    justify-content: center;
    
}
.beneficio{
    margin: 15px 20px;
    background-color: rgb(6, 89, 162);
    width: 280px;
    justify-content: center;
    border-radius: 55px;
    transition: transform 0.2s;
}
.beneficio>img{
    display: flex;
}
.beneficio:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
#benefmenores{
    display: none;
    margin: 15px 0px;
}
.beneftelasmenores{
    color: rgb(255, 255, 255);
    padding: 15 5px;
    text-align: center;
    background-color: rgb(6, 89, 162);
    margin: 0px 15px;
    padding: 5px;
    border-radius: 5px;
}
@media (max-width:1000px) {
    .beneficio>img,.beneficio{
        display: none;
    }
    #benefmenores{
        display: flex;
    }
    #logo{
        height: 60px;
    }
    #containermenu{
        height: 500px;
        width: 300px;
        position: absolute;
        left:150px;
        transform: translateX(-200%);
        flex-direction: column;
        z-index: 2;
        top: 20px;
        padding: 0px;
        background-color: #261B17;
        align-items: center;
        
    }
    #hamburguerimg{
        position: absolute;
        z-index: 3;
    }
    #carrinho{
        height: 50px;
        
    }
    header{
        height: 160px;
    }
    
}
@media (max-width:375px) {
    #logo{
        height: 50px;
    }
    #carrinho{
        height: 30px;
        
    }
    .beneftelasmenores{
        font-size: medium;
        transition: font-size 0.3s ease-in-out;
    }
    header{
        height: 130px;
    }
    
}
#containermenu.active{
    transform: translateX(-50%);
}
#textoofertas{
    text-align: center;
    font-size: xx-large;
}
#ofertasimbativeis{
    display: flex;
    overflow: scroll;
}
.containerofertas{
    margin: 0px 30px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.346);
    height: 450px;
    margin: 10px;
    
}
.ofertas{
    padding: 5px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}
.ofertas:hover{
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}
.nome, .precoparcela{
    text-align: center;
    
}

.precoantigocontainer,
.precoatualcontainer,.pixouboletocontainer{
    display: flex;
    padding: 0px 5px;
}
.precoantigo{
    text-decoration: line-through;
}
.por{
    position: relative;
    top: 10px;
}
.precoatual,.precoparcela{
    font-size: x-large;
    color:rgb(6, 89, 162); 
}
.addaocarrinhocontainer{
    background-color:rgb(6, 89, 162) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addaocarrinho{
    padding: 3px;
    height: 30px;
}
.textoaddcarrinho{
    color: white;
    font-size: larger;
}
